@media screen and (max-width: 900px) {
    
      
      .main .content{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main .image{
        width: 300px;
        margin-left: 40px;
        
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .main .content h1{
        margin: 0; 
        font-size: 1.25rem;
    }
    .main .content h1
    .myName{
        font-size-adjust: 0.30;
    }
    .main .content h2{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    #root nav{
        margin-top: 10px;
        flex-direction: column;
        
    }
    nav .links{
      display: none;
    }
    nav .menu{
        /* display: block; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }
    .links ul{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
      }
      .links ul li{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    /* .main{
        width: 50%;
        height: auto;
        
    } */
    .main .content{
        margin-top: 10px;
        margin-left: 20px;
          display: flex;
        justify-content: center;
        align-items: center;
    }
    .main .image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .main .content h1{
        margin: 0; 
        font-size: .95rem;
    }
    .main .content h2{
        font-size: .95rem;
    }
    .main .content h1
    .myName{
        font-size-adjust: 0.25;
    }
    .about-content{
        margin-left:20px;
    }

    .about-content .about-me p{
        font-size: 1rem;
        text-align: justify;
        letter-spacing: .75px;
        

      }
  .about-content{
    margin:0 40px;
    width: 270px;
  }
  nav .close{
    display: none;
  }
  nav .open{
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .open li{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
  }
  nav .open li:hover{
    background-color: #1b1b1b;
  }
  .vline{
    display: none;
  }
  .cards{
    margin: 0px;
  }
  .cards .card{
    
  margin-bottom: 20px;
  margin-right: 0px;
  width: 150px;
    height: 150px;
     
  }
  .cards .card .title{
    margin: 0;
  }
}
  