footer{
    margin-top: 70px;
    background: #21222a;
    padding: 20px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* margin:0px 70px; */
    
}
.footer-content ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.footer-content ul li{
    margin:10px 0;
    /* margin-top: 10px; */
    margin-left: 70px;
    list-style: none;
}
.footer-content ul li a{
    text-decoration: none;
    
    color: #d2d3db;
    font-size: 1.15rem;
}
.social-links{
    /* width: 50%; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}

.social-links a{
    margin: 20px;
}

@media screen and (max-width: 480px){
    .footer-content{
        /* margin: 20px; */
        
    }
    .social-links{
        width: 100%;
        justify-content: center;
    }
    .footer-content ul li{
        /* margin:px 0; */
        /* margin-top: 10px; */
        margin-left: 20px;
        list-style: none;
    }
}